name: haych_browser
description: "provide for app that need account system"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  flutter_localizations:
    sdk: flutter
  intl: any
  provider: ^6.1.2
  google_fonts: ^6.2.1
  firebase_auth: ^4.16.0
  firebase_ui_auth: ^1.13.0
  google_sign_in: ^6.2.1
  firebase_ui_oauth_google: ^1.3.2
  cloud_firestore: ^4.17.5
  firebase_core: ^2.32.0
  flutter_login: ^5.0.0
  flutter_image_slideshow: ^0.1.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - lib/icon/google_icon.png
